
<h1>NOUVEAU PLAT</h1>


<div class="form-group">
	<label>Nom :</label>
	<input type="text" class="form-control" ng-model="name" placeholder="Entrez le nom ici">
	<hr>
	<label>Description :</label>
	<input type="text" class="form-control" ng-model="description" placeholder="Entrez une description courte ici">
	<hr>
	<label>Catégorie :</label>
	<input type="text" class="form-control" ng-model="categorie" placeholder="Entrez une catégorie de plat ici">
	<hr>
	<label>Ingrédients :</label>
	<input type="text" class="form-control" ng-model="ingredient" placeholder="Entrez tous les ingredients ici">
	<hr>
	<label>Recette :</label>
	<input type="text" class="form-control" ng-model="recette" placeholder="Entrez la recette ici">
	<hr>
	<label>Boissons associées :</label>
	<input type="text" class="form-control" ng-model="boisson" placeholder="Entrez toutes les boissons ici">
	<hr>
	<label>Produits allergènes :</label>
	<input type="text" class="form-control" ng-model="allergie" placeholder="Entrez tous les ingrédients allergènes ici">
	<hr>
	<hr>
	<div class="form-group">
		<button type="submit" class="btn btn-success form-control" ng-click="add()">Ajouter</button>
		<hr>
		<a href="#/meals"><button type="submit" class="btn btn-primary form-control">Retour</button></a>
	</div>
</div>
