<input type="text" class="eventSearch pull-right form-control" ng-model="search" placeholder="Recherche">
<h1 class="page-header">{{title}}</h1>
	<form class="form-inline">

		<div class="form-group1">
			<label for="inputDescription">Choisi un type d'événement :</label><br/>
			<select type="text" class="inDescr form-control" id="inputDescription" 
				   placeholder="Nom" ng-model="description">
				<option>Anniversaire</option>
				<option>Noël</option>
				<option>Nouvel An</option>
				<option>Petit déjeuner</option>
				<option>Déjeuner</option>
				<option>Dîner</option>
				<option>Autre</option>
			</select>
		</div>
	<!-- == formulaire de création d'événements == -->
		<div class="form-group1">
			<label for="inputNom">Nom :</label><br/>
			<input type="text" class="form-control" id="inputNom"  ng-model="nom"> 
		</div>

		<div class="form-group2">
			<label for="inputLieu">Lieu :</label><br/>
			<input type="text" class="form-control" id="inputLieu" placeholder="Lieu" ng-model="lieu"> 
		</div>

		<div class="form-group3">
			<label for="inputJour">Jour :</label><br/>
			<select type="text" class="inJour form-control" id="inputJour" 
				    ng-model="jour">
				<option value="">01</option>
				<option value="">02</option>
				<option value="">03</option>
				<option value="">04</option>
				<option value="">05</option>
				<option value="">06</option>
				<option value="">07</option>
				<option value="">08</option>
				<option value="">09</option>
				<option value="">10</option>
				<option value="">11</option>
				<option value="">12</option>
				<option value="">13</option>
				<option value="">14</option>
				<option value="">15</option>
				<option value="">16</option>
				<option value="">17</option>
				<option value="">18</option>
				<option value="">19</option>
				<option value="">20</option>
				<option value="">21</option>
				<option value="">22</option>
				<option value="">23</option>
				<option value="">24</option>
				<option value="">25</option>
				<option value="">26</option>
				<option value="">27</option>
				<option value="">28</option>
				<option value="">29</option>
				<option value="">30</option>
				<option value="">31</option>
			</select>
		</div>

		<div class="form-group4">
			<label for="inputMois">Mois :</label><br/>
			<select type="text" class="inMois form-control" id="inputMois" 
				    ng-model="mois">
				<option value="Jan">Jan</option>
				<option value="Fev">Fev</option>
				<option value="Mar">Mar</option>
				<option value="Avr">Avr</option>
				<option value="Mai">Mai</option>
				<option value="Juin">Juin</option>
				<option value="Juil">Juil</option>
				<option value="Aou">Août</option>
				<option value="Sep">Sep</option>
				<option value="Octo">Oct</option>
				<option value="Nov">Nov</option>
				<option value="Dec">Dec</option>
		</div>

		<div class="form-group5">
			<label for="inputAnnee">Année :</label><br/>
			<input type="text" class="form-control" id="inputAnnee" placeholder="2016" ng-model="annee">
		</div>

		<div class="form-group6">
			<label for="inputHeure">Heure :</label><br/>
			<input type="text" class="form-control" id="inputHeure" placeholder="00h00" ng-model="heure">
		</div>
			<br/>
			
		<button type="submit" class="btn btn-success" ng-click="add()">Ajouter</button>
	</form><!-- /formulaire... -->

	<hr>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="event in events | filter:search">
			<form class="form-inline">
				<div class="form-group">

					<input type="text" class="form-control" id="inputMessage" 
						   ng-model="event.description">
						   
					<input type="text" class="form-control" id="inputMessage" 
						   ng-model="event.date"> 		   
				</div>
				<div class="pull-right">
					<!-- <button type="" class="btn btn-warning" ng-click="">Details</button> -->
					<button type="submit" class="btn btn-default" ng-click="update(event)">Update</button>
					<button type="submit" class="btn btn-danger" ng-click="delete(event)">Delete</button>
				</div>
			</form>
		</li>
	</ul>

<!-- ========================================================================================================================= -->
	    <div class="container">
			<div class="row">
				<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
					<ul class="event-list">
						<li ng-repeat="event in events">
							<time datetime="2014-07-20">
								<span class="day">{{event.jour}}</span>
								<span class="month">{{event.mois}}</span>
								<span class="year">{{event.annee}}</span>
								<span class="time"></span>
							</time>
								<img alt="Feu d'artifice" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" />
							<div class="info">
								<h2 class="title">{{event.nom}}</h2>
								<p class="desc" ng-model="lieu">@ {{event.lieu}}</p>
									<button class="btn btn-info pull-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded	="false" aria-controls="collapseExample">Details</button>
								<ul>
									<li class="pull-left timeEvent"><i class="glyphicon glyphicon-time"></i> {{event.heure}}</li>
								</ul>

							</div>
						</li>	
					</ul>
				</div>
			</div>
		</div>
