
<h1 class="titleMeals">Plats</h1>

<div ng-hide="number == 6" class="en-tete">
	<form class="recherche">
		<!-- barre de recherche -->
		<input ng-hide="number == 0" type="text" class="col-lg-offset-4 rechercheMeal form-control" ng-model="search" placeholder="Recherche">
	</form>
	<!-- bouton ajouter repas -->
	<button ng-click="unkeep(); viewCount(6)" type="submit" class="col-lg-offset-7 glyphicon glyphicon-plus mealAddButton btn"></button>

	<!-- barre de navigation laterale -->
	<div ng-hide="number == 7" class="nav-meals">
		<div ng-click="viewCount(1)">ENTREE</div>
		<div ng-click="viewCount(2)">PLAT</div>
		<div ng-click="viewCount(3)">LEGUMES</div>
		<div ng-click="viewCount(4)">DESSERT</div>
		<div ng-click="viewCount(5)">BOISSON</div>
	</div>
</div>


<!-- =============================================================================
STARTERS
================================================================================== -->

<div ng-show="number == 1" class="container principal">
	<div class="row meal" ng-repeat="meal in meals | filter: {categorie: 'starter'} | filter: search">
		
		<span type="submit" class="loupe col-lg-1 glyphicon glyphicon-zoom-in" ng-click="keep(meal); viewCount(8)"></span>

		<div class="ligne col-lg-3">
			<img class="img-circle" src="{{meal.avatar}}" style="height: 70%;" />
		</div>

		<div class="ligne col-lg-5" style="vertical-align: middle;">{{meal.name}}</div>
		

		<div class="ligne col-md-3 row-button" style="vertical-align: middle;">
			<form class="btn-modifier" style="display: inline-block;">
				<button type="submit" class="btn btn-warning" ng-click="keep(meal); viewCount(7)">Modifier</button>
			</form>
			<span type="submit" class="btn btn-danger" ng-click="delete(meal)">X</span>
		</div>
	</div>
</div>

<!-- =============================================================================
DISH
================================================================================== -->

<div ng-show="number == 2" class="container principal">
	<div class="row meal" ng-repeat="meal in meals | filter: {categorie: 'dish'} | filter: search">
		<div class="ligne col-lg-4">
			<img class="img-circle" src="{{meal.avatar}}" style="height: 70%;" />
		</div>
		
		<div class="ligne col-lg-5" style="vertical-align: middle;">{{meal.name}}</div>

		<div class="ligne col-md-3 row-button" style="vertical-align: middle;">
			<form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;">
				<button type="submit" class="btn btn-warning" ng-click="keep(meal); viewCount(7)">Modifier</button>
			</form>
			<span type="submit" class="btn btn-danger" ng-click="delete(meal)">X</span>
		</div>
	</div>
</div>

<!-- =============================================================================
GARNISH
================================================================================== -->

<div ng-show="number == 3" class="container principal">
	<div class="row meal" ng-repeat="meal in meals | filter: {categorie: 'garnish'} | filter: search">
		<div class="ligne col-lg-4">
			<img class="img-circle" src="{{meal.avatar}}" style="height: 70%;" />
		</div>
		
		<div class="ligne col-lg-5" style="vertical-align: middle;">{{meal.name}}</div>
		<!-- <div class="ligne col-sm-4" style="vertical-align: middle;">{{meal.description}}</div> -->
		<div class="ligne col-md-3 row-button" style="vertical-align: middle;">
			<form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;">
				<button type="submit" class="btn btn-warning" ng-click="keep(meal); viewCount(7)">Modifier</button>
			</form>
			<span type="submit" class="btn btn-danger" ng-click="delete(meal)">X</span>
		</div>
	</div>
</div>

<!-- =============================================================================
DESSERT
================================================================================== -->

<div ng-show="number == 4" class="container principal">
	<div class="row meal" ng-repeat="meal in meals | filter: {categorie: 'dessert'} | filter: search">
		<div class="ligne col-lg-4">
			<img class="img-circle" src="{{meal.avatar}}" style="height: 70%;" />
		</div>
		
		<div class="ligne col-lg-5" style="vertical-align: middle;">{{meal.name}}</div>
		<!-- <div class="ligne col-sm-4" style="vertical-align: middle;">{{meal.description}}</div> -->
		<div class="ligne col-md-3 row-button" style="vertical-align: middle;">
			<form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;">
				<button type="submit" class="btn btn-warning" ng-click="keep(meal); viewCount(7)">Modifier</button>
			</form>
			<span type="submit" class="btn btn-danger" ng-click="delete(meal)">X</span>
		</div>
	</div>
</div>

<!-- =============================================================================
DRINK
================================================================================== -->

<div ng-show="number == 5" class="container principal">
	<div class="row meal" ng-repeat="meal in meals | filter: {categorie: 'drink'} | filter: search">
		<div class="ligne col-lg-4">
			<img class="img-circle" src="{{meal.avatar}}" style="height: 70%;" />
		</div>
		
		<div class="ligne col-lg-5" style="vertical-align: middle;">{{meal.name}}</div>
		<!-- <div class="ligne col-sm-4" style="vertical-align: middle;">{{meal.description}}</div> -->
		<div class="ligne col-md-3 row-button" style="vertical-align: middle;">
			<form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;">
				<button type="submit" class="btn btn-warning" ng-click="keep(meal); viewCount(7)">Modifier</button>
			</form>
			<span type="submit" class="btn btn-danger" ng-click="delete(meal)">X</span>
		</div>
	</div>
</div>


<!-- =============================================================================
MEAL SHEET
================================================================================== -->



<div ng-show="number == 8" class="formulaire table form-group">
	<div ng-click="load(); viewCount(0)" class="btn-retour btn">
		<p>Retour</p>
	</div>
	<h1 class="sub-titleMeals">{{name}}</h1>
	
	<!-- photo  -->
	<form class="recup-photo">
		<img class="preview" id="preview" ng-href="avatar"/><br>
	</form>

	<label>Nom :</label>
	<div type="text" class="addMealInput form-control" >{{name}}</div>
	<!-- saut ligne -->
	<hr>
	
	<label>Description :</label>
	<div class="addMealInput form-control" style="height: 100px;">{{description}}</div>
	
	<!-- saut ligne -->
	<hr>
	
	
	<label>Ingrédients :</label>
	<div type="text" class="addMealInput form-control">{{ingredient}}</div>

	<!-- saut ligne -->
	<hr>

	<label>Recette :</label>
	<div class="recette addMealInput form-control" ng-model="recette" style="height: 500px;"></div>

	<!-- saut ligne -->
	<hr>

	<label>Boissons associées :</label>
	<input type="text" class="addMealInput form-control" ng-model="boisson" placeholder="Entrez toutes les boissons ici">
	
	<!-- saut ligne -->
	<hr>
	
	<!-- formulaire choix unique -->
	<label>Produits allergènes :</label>
	<form class="form-allergie">
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="allergie" value="gluten">Gluten</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="allergie" value="crustace">Crustacés</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="allergie"	value="oeuf">Oeufs</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="allergie" value="poisson">Poissons</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="allergie" value="arachide">Arachides</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="allergie" value="soja">Soja</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="allergie" value="lait">Lait</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="allergie"	value="coque">Fruits à coque</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="allergie" value="celeri">Céleri</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="allergie" value="sesame">Sésame</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="allergie" value="lupin">Lupin</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="allergie" value="mollusque">Mollusque</label>
		</div>
	</form>

	<!-- sauts lignes -->
	<hr>
	<hr>

	<!-- bouton final de validation -->
	<div>
		<button type="submit" class="btn-enregistrer btn btn-success form-control" ng-click="add()">Enregistrer</button>
	</div>
</div>




<!-- =============================================================================
ADD MEAL
================================================================================== -->



<div ng-show="number == 6" class="formulaire table form-group">
	<div ng-click="viewCount(0)" class="btn-retour btn">
		<p>Retour</p>
	</div>
	<h1 class="sub-titleMeals">NOUVEAU</h1>
	
	<!-- formulaire pour choisir une photo sur l'ordinateur/mobile de l'utilisateur -->
	<form class="recup-photo">
		<label>Image de présentation :</label>
		<div class="parcourir">
			<p>Choisir une photo</p>
			<input class="input-file" type="file" id="add" ng-model="imageFile" onchange="angular.element(this).scope().previewFile(this)">
		</div>
		<img class="preview" src="{{imageFile}}" /><br>
	</form>

	<label>Nom :</label>
	<input type="text" class="addMealInput form-control" ng-model="name" placeholder="Entrez le nom ici">
	
	<!-- saut ligne -->
	<hr>
	
	<label>Description :</label>
	<textarea class="addMealInput form-control" ng-model="description" placeholder="Entrez une description courte ici" style="height: 100px;"></textarea>
	
	<!-- saut ligne -->
	<hr>
	
	<!-- formulaire choix unique -->
	<label>Catégorie :</label>
	<form class="form-categorie">
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="categorie" value="starter">Entrée</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="categorie" value="dish">Plat</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="categorie"	value="garnish">Accompagnement</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="categorie" value="dessert">Dessert</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="categorie" value="drink">Boisson</label>
		</div>
	</form>

	<!-- saut ligne -->
	<hr>
	
	<label>Ingrédients :</label>
	<input type="text" class="addMealInput form-control" ng-model="ingredient" placeholder="Entrez tous les ingredients ici">

	<!-- saut ligne -->
	<hr>

	<label>Recette :</label>
	<textarea class="recette addMealInput form-control" ng-model="recette" placeholder="Entrez toute votre recette ici" style="height: 500px;"></textarea>

	<!-- saut ligne -->
	<hr>

	<label>Boissons associées :</label>
	<input type="text" class="addMealInput form-control" ng-model="boisson" placeholder="Entrez toutes les boissons ici">
	
	<!-- saut ligne -->
	<hr>
	
	<!-- formulaire choix unique -->
	<label>Produits allergènes :</label>
	<form class="form-allergie">
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="gluten"> Gluten
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="crustace"> Crustacés
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie"	value="oeuf"> Oeufs
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="poisson"> Poissons
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="arachide"> Arachides
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="soja"> Soja
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="lait"> Lait
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie"	value="coque"> Fruits à coque
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="celeri"> Céleri
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="sesame"> Sésame
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="lupin"> Lupin
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="mollusque"> Mollusque
			</label>
		</div>
	</form>

	<!-- sauts lignes -->
	<hr>
	<hr>

	<!-- bouton final de validation -->
	<div>
		<button type="submit" class="btn-enregistrer btn btn-success form-control" ng-click="add()">Enregistrer</button>
	</div>
</div>


<!-- =============================================================================
UPDATE MEAL
================================================================================== -->



<div ng-show="number == 7" class="formulaire table form-group">
	<div ng-click="viewCount(0)" class="btn-retour btn">
		<p>Retour</p>
	</div>
	<h1 class="sub-titleMeals">Mise à jour</h1>
	
	<!-- formulaire pour choisir une photo sur l'ordinateur/mobile de l'utilisateur -->
	<form class="recup-photo">
		<label>Image de présentation :</label>
		<div class="parcourir">
			<p>Mofidier la photo</p>
			<input class="input-file" type="file" id="update" ng-model="imageFile" onchange="angular.element(this).scope().previewFile(this, '#update')">
		</div>
		<img class="preview" src="{{avatar}}" /><br>
	</form>

	<label>Nom :</label>
	<input type="text" class="addMealInput form-control" ng-model="name" placeholder="Entrez le nom ici">
	
	<!-- saut ligne -->
	<hr>
	
	<label>Description :</label>
	<textarea class="addMealInput form-control" ng-model="description" placeholder="Entrez une description courte ici" style="height: 100px;"></textarea>
	
	<!-- saut ligne -->
	<hr>
	
	<!-- formulaire choix unique -->
	<label>Catégorie :</label>
	<form class="form-categorie">
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="categorie" value="starter">Entrée</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="categorie" value="dish">Plat</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="categorie"	value="garnish">Accompagnement</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="categorie" value="dessert">Dessert</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="categorie" value="drink">Boisson</label>
		</div>
	</form>

	<!-- saut ligne -->
	<hr>
	
	<label>Ingrédients :</label>
	<input type="text" class="addMealInput form-control" ng-model="ingredient" placeholder="Entrez tous les ingredients ici">

	<!-- saut ligne -->
	<hr>

	<label>Recette :</label>
	<textarea class="recette addMealInput form-control" ng-model="recette" placeholder="Entrez toute votre recette ici" style="height: 500px;"></textarea>

	<!-- saut ligne -->
	<hr>

	<label>Boissons associées :</label>
	<input type="text" class="addMealInput form-control" ng-model="boisson" placeholder="Entrez toutes les boissons ici">
	
	<!-- saut ligne -->
	<hr>
	
	<!-- formulaire choix unique -->
	<label>Produits allergènes :</label>
	<form class="form-allergie">
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="gluten"> Gluten
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="crustace"> Crustacés
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie"	value="oeuf"> Oeufs
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="poisson"> Poissons
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="arachide"> Arachides
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="soja"> Soja
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="lait"> Lait
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie"	value="coque"> Fruits à coque
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="celeri"> Céleri
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="sesame"> Sésame
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="lupin"> Lupin
			</label>
		</div>
		
		<div class="radio">
			<label>
				<input type="checkbox" name="optradio" ng-model="allergie" value="mollusque"> Mollusque
			</label>
		</div>
	</form>

	<!-- sauts lignes -->
	<hr>
	<hr>

	<!-- bouton final de validation -->
	<div>
		<button type="submit" class="btn-enregistrer btn btn-success form-control" ng-click="update(); viewCount(0)">Mettre à jour</button>
	</div>
</div>