<div class="row">


   <div class="col-md-3" style="background-color:grey; border: 1px solid orange;padding: 20px;">
      <div class="" ng-repeat="meal in meals">

         <input type="text" class="form-control input-sm" ng-model="meal.name">



         <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="addToMenu(meal)" >add to menu</button>
      </div>
   </div>

   <div class="col-md-3" style="background-color:grey; border: 1px solid orange;padding: 20px; margin-left:10px; margin-right:10px;">
      <div class="" ng-repeat="account in accounts">
         <input type="text" class="form-control input-sm" ng-model="account.firstname">

         <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="addToMenuInvites(account)">add to menu</button>
      </div>
   </div>


   <div class="col-md-4" style="background-color:grey; border: 1px solid orange;padding: 20px;">
      <h1>Mon menu</h1>
      Menu:
      <br />
      Plats :
      <ul>
         <li ng-repeat="meal in menu.meals">
            {{meal.name}}
         </li>
      </ul>
      Invites :
      <ul>
         <li ng-repeat="account in menu.accounts">
            {{account.firstname}}
         </li>
      </ul>

      <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="add()" >Creer menu</button>
   </div>
</div>



<div class="" ng-repeat="menu in menus">
   <div class="col-md-8"  style="background-color:grey; border: 1px solid orange;padding: 20px; margin-left:10px; margin-right:2px; height: auto;">

<div class="col-md-6">


<h1>Invités</h1>
      <div ng-repeat="account in menu.menu.accounts">


         <!-- <input type="text" class="form-control input-sm" ng-model="menu.menu.accounts[0].firstname"> -->
         <img style=" text-align: center; border: 1px solid #ED771E; border-radius: 5px; max-height: 150px; max-width: 150px;" src="{{menu.menu.accounts[0].image}}" alt="" />
         <h4>
            {{account.firstname}}

         </h4>
      </div>
</div>      <div class="col-md-5">
   <h1>Menu</h1>
   <div ng-repeat="meal in menu.menu.meals">


<h3>{{meal.categorie}}</h3>
         <h4>
            {{meal.name}}
         </h4>
      </div>
</div>

   </div>
</div>
