<h1 class="titleMenus">Menus</h1>





<!-- =============================================================================
MENU LIST
================================================================================== -->

<div ng show="number == 1" class="container Menus">
	<!-- bouton ajouter menu -->
	<button ng-click="numView(2)" type="submit" class="col-lg-offset-7 glyphicon glyphicon-plus menuAddButton btn btn-success"></button>
	<div class="row menu" ng-repeat="menu in menus">
		
		<span type="submit" class="loupe col-lg-1 glyphicon glyphicon-zoom-in" ng-click="keep(menu)"></span>


		<div class="ligne col-lg-5" style="vertical-align: middle;">{{menu.name}}</div>
		

		<div class="ligne col-md-3 row-button" style="vertical-align: middle;">
			<form class="btn-modifier" style="display: inline-block;">
				<button type="submit" class="btn btn-warning" ng-click="keep(menu)">Modifier</button>
			</form>
			<span type="submit" class="btn btn-danger" ng-click="delete(menu)">X</span>
		</div>
	</div>
</div>

<!-- =============================================================================
END MENU LIST
================================================================================== -->






<!-- =============================================================================
CREATE MENU
================================================================================== -->
<div ng-show="number == 2">

	<h1 class="sub-titleMenus">Nouveau Menu</h1>
	
	<!-- Les plats disponibles -->
	<div class="container-fluid allMeals">
		
		<!-- barre de recherche -->
		<input type="text" class="rechercheMealMenu form-control" ng-model="search" placeholder="Recherche">

		<!-- tickbox filters -->
		<div class="filterButtonsContainer" ng-init="cat = 'ras'" class="input-group">
			<span>
				<button class="filterButton" type="submit" ng-click="cat = 'starter'">Entrées |</button>
				<button class="filterButton" type="submit" ng-click="cat = 'dish'">Plats |</button>
				<button class="filterButton" type="submit" ng-click="cat = 'garnish'">Accompagnements |</button>
				<button class="filterButton" type="submit" ng-click="cat = 'dessert'">Desserts |</button>
				<button class="filterButton" type="submit" ng-click="cat = 'drink'">Boissons</button>
			</span>
		</div>


		<!-- show meals filtered by filter button -->
		<div class="row meal" ng-repeat="meal in meals | filter: cat | filter: search">

			<!-- <span type="submit" class="loupe col-sm-1 glyphicon glyphicon-zoom-in" ng-click="keep(meal)"></span> -->

			<div class="ligne col-sm-3">
				<img class="img-circle" src="{{meal.avatar}}" style="height: 70%;" />
			</div>

			<div class="ligne col-lg-7" style="vertical-align: middle;">{{meal.name}}</div>


			<div class="ligne col-sm-2 row-buttonMenu" style="vertical-align: middle;">
				<button type="submit" ng-click="pushMeal(meal.categorie, meal._id); keep(meal, meal.categorie)" class="glyphicon glyphicon-arrow-right mealMenuAddButton btn btn-success"></button>
			</div>
		</div>
	</div>
	
	<!-- Le formulaire de creation du nouveau menu -->
	<div class="container-fluid addMenu">

		<label for="name">Nom :</label>
		<input type="text" ng-model="name" class="form-control" placeholder="Entrez le nom du nouveau menu ici">

		<p ng-show="idStarterSelected != 'ras'" class="separationMenu">______________________________________________</p>
		<label ng-show="idStarterSelected != 'ras'" for="starter">Entrée :</label>

		<!-- show the starter selected -->
		<div class="container-fluid">
			<div class="row meal" ng-repeat="meal in meals | filter: {_id: idStarterSelected}">
				<!-- avatar -->
				<div class="ligne col-sm-3">
					<img class="img-circle" src="{{meal.avatar}}" style="height: 70%;" />
				</div>
				<!-- nom -->
				<div class="ligne col-lg-7" style="vertical-align: middle;">{{meal.name}}</div>
				<!-- boutons -->
				<div class="ligne col-sm-2 row-buttonMenu" style="vertical-align: middle;">
					<button type="submit" ng-click="deleteMeal(meal.categorie)" class="btn btn-danger">x</button>
				</div>
			</div>
		</div>

		<p ng-show="idDishSelected != 'ras'" class="separationMenu">______________________________________________</p>
		<label ng-show="idDishSelected != 'ras'" for="starter">Plat :</label>

		<!-- show the dish selected -->
		<div class="container-fluid">
			<div class="row meal" ng-repeat="meal in meals | filter: {_id: idDishSelected}">


				<div class="ligne col-sm-3">
					<img class="img-circle" src="{{meal.avatar}}" style="height: 70%;" />
				</div>

				<div class="ligne col-lg-7" style="vertical-align: middle;">{{meal.name}}</div>


				<div class="ligne col-sm-2 row-buttonMenu" style="vertical-align: middle;">
					<button type="submit" ng-click="deleteMeal(meal.categorie)" class="btn btn-danger">x</button>
				</div>
			</div>
		</div>

		<p ng-show="idGarnishSelected != 'ras'" class="separationMenu">______________________________________________</p>
		<label ng-show="idGarnishSelected != 'ras'" for="starter">Accompagnement :</label>

		<!-- show the garnish selected -->
		<div class="container-fluid">
			<div class="row meal" ng-repeat="meal in meals | filter: {_id: idGarnishSelected}">


				<div class="ligne col-sm-3">
					<img class="img-circle" src="{{meal.avatar}}" style="height: 70%;" />
				</div>

				<div class="ligne col-lg-7" style="vertical-align: middle;">{{meal.name}}</div>


				<div class="ligne col-sm-2 row-buttonMenu" style="vertical-align: middle;">
					<button type="submit" ng-click="deleteMeal(meal.categorie)" class="btn btn-danger">x</button>
				</div>
			</div>
		</div>


		<p ng-show="idDessertSelected != 'ras'" class="separationMenu">______________________________________________</p>
		<!-- show the dessert seleted -->
		<label ng-show="idDessertSelected != 'ras'" for="starter">Dessert :</label>

		<div class="container-fluid">
			<div class="row meal" ng-repeat="meal in meals | filter: {_id: idDessertSelected}">


				<div class="ligne col-sm-3">
					<img class="img-circle" src="{{meal.avatar}}" style="height: 70%;" />
				</div>

				<div class="ligne col-lg-7" style="vertical-align: middle;">{{meal.name}}</div>


				<div class="ligne col-sm-2 row-buttonMenu" style="vertical-align: middle;">
					<button type="submit" ng-click="deleteMeal(meal.categorie)" class="btn btn-danger">x</button>
				</div>
			</div>
		</div>


		<p ng-show="idDrinkSelected != 'ras'" class="separationMenu">______________________________________________</p>
		<!-- show the drink seleted -->
		<label ng-show="idDrinkSelected != 'ras'" for="starter">Boissons :</label>

		<div class="container-fluid">
			<div class="row meal" ng-repeat="meal in meals | filter: {_id: idDrinkSelected}">


				<div class="ligne col-sm-3">
					<img class="img-circle" src="{{meal.avatar}}" style="height: 70%;" />
				</div>

				<div class="ligne col-lg-7" style="vertical-align: middle;">{{meal.name}}</div>


				<div class="ligne col-sm-2 row-buttonMenu" style="vertical-align: middle;">
					<button type="submit" ng-click="deleteMeal(meal.categorie)" class="btn btn-danger">x</button>
				</div>
			</div>
		</div>

		<!-- bouton final de validation -->
		<div>
			<button type="submit" class="btn-enregistrerMenu btn btn-success form-control" ng-click="add(idStarterSelected)">Enregistrer mon menu</button>
		</div>

	</div>
</div>

<!-- =============================================================================
END CREATE MENUS
================================================================================== -->