
<h1>NOUVEAU</h1>


<div class="table form-group">
	<form>
		<label>Image de présentation :</label>
		<input type="file" ng-model="imageFile" onchange="angular.element(this).scope().previewFile(this)">
		<img id="preview" style="width: 20%;" />
	</form>
	<label>Nom :</label>
	<input type="text" class="addMealInput form-control" ng-model="name" placeholder="Entrez le nom ici">
	<hr>
	<label>Description :</label>
	<input type="text" class="addMealInput form-control" ng-model="description" placeholder="Entrez une description courte ici" style="height: 100px;">
	<hr>
	<label>Catégorie :</label>
	<form>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="categorie" value="starter">Entrée</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="categorie" value="dish">Plat</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="categorie"	value="garnish">Accompagnement</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="categorie" value="dessert">Dessert</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" ng-model="categorie" value="drink">Boisson</label>
		</div>
	</form>
	<hr>
	<label>Ingrédients :</label>
	<input type="text" class="addMealInput form-control" ng-model="ingredient" placeholder="Entrez tous les ingredients ici">
	<hr>
	<label>Recette :</label>
	<input type="text" class="addMealInput form-control" ng-model="recette" placeholder="Entrez la recette ici" style="height: 500px;">
	<hr>
	<label>Boissons associées :</label>
	<input type="text" class="addMealInput form-control" ng-model="boisson" placeholder="Entrez toutes les boissons ici">
	<hr>
	<label>Produits allergènes :</label>
	<input type="text" class="addMealInput form-control" ng-model="allergie" placeholder="Entrez tous les ingrédients allergènes ici">
	<hr>
	<hr>
	<div class="form-group">
		<button type="submit" class="btn btn-success form-control" ng-click="add()" style="width: 40%; margin: 0 auto; ">Creer</button>
	</div>
</div>
