
<h1 class="meal">PLATS</h1>

<form class="recherche" type="get" action="#/addMeal">
	<input type="text" class="rechercheMeal form-control" ng-model="search" placeholder="Rechercher">
	<button type="submit" class="mealAddButton btn btn-danger">+</button>
</form>

<div class="nav-meals">
	<div ng-click="viewCount(1)">ENTREE</div>
	<div ng-click="viewCount(2)">PLAT</div>
	<div ng-click="viewCount(3)">ACCOMPAGNEMENT</div>
	<div ng-click="viewCount(4)">DESSERT</div>
	<div ng-click="viewCount(5)">BOISSON</div>
</div>

<div class="container page-header principal">
	<div class="row meal sous-nav-meals">
		<div class="col-md-2"></div>
		<div class="col-sm-3"><strong>NOM</strong></div>
		<div class="col-sm-4"><strong>DESCRIPTION</strong></div>
		<div class="col-md-3"></div>
	</div>
</div>


<!-- =============================================================================
STARTERS
================================================================================== -->

<div ng-show="number == 1" class="container principal">
	<div class="row meal" ng-repeat="meal in meals | filter: {categorie: 'starter'} | filter: search">
		<div class="ligne col-md-2"><img src="{{meal.avatar}}" style="height: 70%;" /></div>
		<div class="ligne col-sm-3" style="vertical-align: middle;">{{meal.name}}</div>
		<div class="ligne col-sm-4" style="vertical-align: middle;">{{meal.description}}</div>
		<div class="ligne col-md-3" style="vertical-align: middle;">
			<form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;">
				<button type="submit" class="btn btn-warning" ng-click="keep(meal)">Modifier</button>
			</form>
			<button type="submit" class="btn btn-danger" ng-click="delete(meal)">X</button>
		</div>
		<hr>
	</div>
</div>

<!-- =============================================================================
DISH
================================================================================== -->

<div ng-show="number == 2" class="container principal">
	<div class"row meal" ng-repeat="meal in meals | filter: {categorie: 'dish'} | filter: search">
		<div class="ligne col-lg-offset-1 col-lg-3"><img src="{{meal.avatar}}" style="height: 100%;" /></div>
		<div class="ligne col-lg-2" style="vertical-align: middle;">{{meal.name}}</div>
		<div class="ligne col-lg-4" style="vertical-align: middle;">{{meal.description}}</div>
		<div class="ligne col-lg-2" style="vertical-align: middle;">
			<form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;">
				<button type="submit" class="btn btn-warning">Modifier</button>
			</form>
			<button type="submit" class="btn btn-danger" ng-click="delete(meal)">X</button>
		</div>
	</div>
</div>

<!-- =============================================================================
GARNISH
================================================================================== -->

<div ng-show="number == 3" class="container principal">
	<div class="row meal" ng-repeat="meal in meals  | filter: {categorie: 'garnish'} | filter: search">
		<div class="ligne col-lg-offset-1 col-lg-3"><img src="{{meal.avatar}}" style="height: 100%;" /></div>
		<div class="ligne col-lg-2" style="vertical-align: middle;">{{meal.name}}</div>
		<div class="ligne col-lg-4" style="vertical-align: middle;">{{meal.description}}</div>
		<div class="ligne col-lg-2" style="vertical-align: middle;">
			<form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;">
				<button type="submit" class="btn btn-warning">Modifier</button>
			</form>
			<button type="submit" class="btn btn-danger" ng-click="delete(meal)">X</button>
		</div>
	</div>
</div>

<!-- =============================================================================
DESSERT
================================================================================== -->

<div ng-show="number == 4" class="container principal principal">
	<div class="row meal" ng-repeat="meal in meals | filter: {categorie: 'dessert'} | filter: search">
		<div class="ligne col-lg-offset-1 col-lg-3"><img src="{{meal.avatar}}" style="height: 70%;" /></div>
		<div class="ligne col-lg-2" style="vertical-align: middle;">{{meal.name}}</div>
		<div class="ligne col-lg-4" style="vertical-align: middle;">{{meal.description}}</div>
		<div class="ligne col-lg-2" style="vertical-align: middle;">
			<form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;">
				<button type="submit" class="btn btn-warning" ng-click="keep(meal)">Modifier</button>
			</form>
			<button type="submit" class="btn btn-danger" ng-click="delete(meal)">X</button>
		</div>
	</div>
</div>

<!-- =============================================================================
DRINK
================================================================================== -->

<div ng-show="number == 5" class="container principal">
	<div class="row meal" ng-repeat="meal in meals  | filter: {categorie: 'drink'} | filter: search">
		<div class="ligne col-lg-offset-1 col-lg-3"><img src="{{meal.avatar}}" style="height: 100%;" /></div>
		<div class="ligne col-lg-2" style="vertical-align: middle;">{{meal.name}}</div>
		<div class="ligne col-lg-4" style="vertical-align: middle;">{{meal.description}}</div>
		<div class="ligne col-lg-2" style="vertical-align: middle;">
			<form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;">
				<button type="submit" class="btn btn-warning">Modifier</button>
			</form>
			<button type="submit" class="btn btn-danger" ng-click="delete(meal)">X</button>
		</div>
	</div>
</div>