
<h1>PLATS</h1>

<form class="recherche" type="get" action="#/addMeal">
	<input type="text" class="rechercheMeal form-control" ng-model="search" placeholder="Rechercher">
	<button type="submit" class="mealAddButton btn btn-danger">+</button>
</form>

<ul class="nav-meals nav nav-tabs">
	<li ng-click="viewCount(1)"><a>ENTREE</a></li>
	<li ng-click="viewCount(2)"><a>PLAT</a></li>
	<li><a ng-click="viewCount(3)">ACCOMPAGNEMENT</a></li>
	<li><a ng-click="viewCount(4)">DESSERT</a></li>
	<li><a ng-click="viewCount(5)">BOISSON</a></li>
</ul>

<div class="container page-header">
	<div class="row">
		<div class="col-lg-offset-1 col-lg-3"></div>
		<div class="col-lg-2">NOM</div>
		<div class="col-lg-4">DESCRIPTION</div>
		<div class="col-lg-2"></div>
	</div>
</div>


<!-- =============================================================================
STARTERS
================================================================================== -->

<div ng-show="number == 1" class="container">
	<div class="row" ng-repeat="meal in meals | filter: {categorie: 'starter'} | filter: search">
		<div class="col-lg-offset-1 col-lg-3"><img src="{{meal.avatar}}" style="height: 70%;" /></div>
		<div class="col-lg-2" style="vertical-align: middle;">{{meal.name}}</div>
		<div class="col-lg-4" style="vertical-align: middle;">{{meal.description}}</div>
		<div class="col-lg-2" style="vertical-align: middle;">
			<form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;">
				<button type="submit" class="btn btn-warning" ng-click="keep(meal)">Modifier</button>
			</form>
			<button type="submit" class="btn btn-danger" ng-click="delete(meal)">X</button>
		</div>
		<hr>
	</div>
</div>

<!-- =============================================================================
DISH
================================================================================== -->

<div ng-show="number == 2" class="container">
	<div class"row" ng-repeat="meal in meals | filter: {categorie: 'dish'} | filter: search">
		<div class="ligne col-lg-offset-1 col-lg-3"><img src="{{meal.avatar}}" style="height: 100%;" /></div>
		<div class="ligne col-lg-2" style="vertical-align: middle;">{{meal.name}}</div>
		<div class="ligne col-lg-4" style="vertical-align: middle;">{{meal.description}}</div>
		<div class="ligne col-lg-2" style="vertical-align: middle;">
			<form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;">
				<button type="submit" class="btn btn-warning">Modifier</button>
			</form>
			<button type="submit" class="btn btn-danger" ng-click="delete(meal)">X</button>
		</div>
	</div>
</div>

<!-- =============================================================================
GARNISH
================================================================================== -->

<div ng-show="number == 3" class="container">
	<div class="row" ng-repeat="meal in meals  | filter: {categorie: 'garnish'} | filter: search">
		<div class="col-lg-offset-1 col-lg-3"><img src="{{meal.avatar}}" style="height: 100%;" /></div>
		<div class="col-lg-2" style="vertical-align: middle;">{{meal.name}}</div>
		<div class="col-lg-4" style="vertical-align: middle;">{{meal.description}}</div>
		<div class="col-lg-2" style="vertical-align: middle;">
			<form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;">
				<button type="submit" class="btn btn-warning">Modifier</button>
			</form>
			<button type="submit" class="btn btn-danger" ng-click="delete(meal)">X</button>
		</div>
	</tr>
</div>

<!-- =============================================================================
DESSERT
================================================================================== -->

<div ng-show="number == 4" class="container">
	<div class="row" ng-repeat="meal in meals  | filter: {categorie: 'dessert'} | filter: search">
		<div class="col-lg-offset-1 col-lg-3"><img src="{{meal.avatar}}" style="height: 100%;" /></div>
		<div class="col-lg-2"style="vertical-align: middle;">{{meal.name}}</div>
		<div class="col-lg-4"style="vertical-align: middle;">{{meal.description}}</div>
		<div class="col-lg-2"style="vertical-align: middle;">
			<form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;">
				<button type="submit" class="btn btn-warning">Modifier</button>
			</form>
			<button type="submit" class="btn btn-danger" ng-click="delete(meal)">X</button>
		</div>
	</tr>
</div>

<!-- =============================================================================
DRINK
================================================================================== -->

<div ng-show="number == 5" class="container">
	<div class="row" ng-repeat="meal in meals  | filter: {categorie: 'drink'} | filter: search">
		<div class="col-lg-offset-1 col-lg-3"><img src="{{meal.avatar}}" style="height: 100%;" /></div>
		<div class="col-lg-2" style="vertical-align: middle;">{{meal.name}}</div>
		<div class="col-lg-4" style="vertical-align: middle;">{{meal.description}}</div>
		<div class="col-lg-2" style="vertical-align: middle;">
			<form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;">
				<button type="submit" class="btn btn-warning">Modifier</button>
			</form>
			<button type="submit" class="btn btn-danger" ng-click="delete(meal)">X</button>
		</div>
	</div>
</div>