
<h1 class="title">PLATS</h1>

<form class="recherche" type="get" action="#/addMeal">
	<input type="text" class="rechercheMeal form-control" ng-model="search" placeholder="Recherche">
	<button type="submit" class="glyphicon glyphicon-plus mealAddButton btn btn-success"></button>
</form>

<div class="nav-meals">
	<div ng-click="viewCount(1)">ENTREE</div>
	<div ng-click="viewCount(2)">PLAT</div>
	<div ng-click="viewCount(3)">LEGUMES</div>
	<div ng-click="viewCount(4)">DESSERT</div>
	<div ng-click="viewCount(5)">BOISSON</div>
</div>

<!--<div class="container page-header principal">
	<div class="row sous-nav-meals">
		<div class="col-lg-offset-1 col-lg-3"></div>
		<div class="col-lg-5"><strong>NOM</strong></div>
		<div class="col-sm-4"><strong>DESCRIPTION</strong></div>
		<div class="col-md-3"></div>
	</div>
</div> -->


<!-- =============================================================================
STARTERS
================================================================================== -->

<div ng-show="number == 1" class="container principal">
	<div class="row meal" ng-repeat="meal in meals | filter: {categorie: 'starter'} | filter: search">
		<div class="ligne col-lg-4">
			<img class="img-circle" src="{{meal.avatar}}" style="height: 70%;" />
		</div>
		
		<div class="ligne col-lg-5" style="vertical-align: middle;">{{meal.name}}</div>
		<!-- <div class="ligne col-sm-4" style="vertical-align: middle;">{{meal.description}}</div> -->
		<div class="ligne col-md-3 row-button" style="vertical-align: middle;">
			<form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;">
				<button type="submit" class="btn btn-warning" ng-click="keep(meal)">Modifier</button>
			</form>
			<span type="submit" class="btn btn-danger" ng-click="delete(meal)">X</span>
		</div>
	</div>
</div>

<!-- =============================================================================
DISH
================================================================================== -->

<div ng-show="number == 2" class="container principal">
	<div class="row meal" ng-repeat="meal in meals | filter: {categorie: 'dish'} | filter: search">
		<div class="ligne col-lg-4">
			<img class="img-circle" src="{{meal.avatar}}" style="height: 70%;" />
		</div>
		
		<div class="ligne col-lg-5" style="vertical-align: middle;">{{meal.name}}</div>
		<!-- <div class="ligne col-sm-4" style="vertical-align: middle;">{{meal.description}}</div> -->
		<div class="ligne col-md-3 row-button" style="vertical-align: middle;">
			<form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;">
				<button type="submit" class="btn btn-warning" ng-click="keep(meal)">Modifier</button>
			</form>
			<span type="submit" class="btn btn-danger" ng-click="delete(meal)">X</span>
		</div>
	</div>
</div>

<!-- =============================================================================
GARNISH
================================================================================== -->

<div ng-show="number == 3" class="container principal">
	<div class="row meal" ng-repeat="meal in meals | filter: {categorie: 'garnish'} | filter: search">
		<div class="ligne col-lg-4">
			<img class="img-circle" src="{{meal.avatar}}" style="height: 70%;" />
		</div>
		
		<div class="ligne col-lg-5" style="vertical-align: middle;">{{meal.name}}</div>
		<!-- <div class="ligne col-sm-4" style="vertical-align: middle;">{{meal.description}}</div> -->
		<div class="ligne col-md-3 row-button" style="vertical-align: middle;">
			<form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;">
				<button type="submit" class="btn btn-warning" ng-click="keep(meal)">Modifier</button>
			</form>
			<span type="submit" class="btn btn-danger" ng-click="delete(meal)">X</span>
		</div>
	</div>
</div>

<!-- =============================================================================
DESSERT
================================================================================== -->

<div ng-show="number == 4" class="container principal">
	<div class="row meal" ng-repeat="meal in meals | filter: {categorie: 'dessert'} | filter: search">
		<div class="ligne col-lg-4">
			<img class="img-circle" src="{{meal.avatar}}" style="height: 70%;" />
		</div>
		
		<div class="ligne col-lg-5" style="vertical-align: middle;">{{meal.name}}</div>
		<!-- <div class="ligne col-sm-4" style="vertical-align: middle;">{{meal.description}}</div> -->
		<div class="ligne col-md-3 row-button" style="vertical-align: middle;">
			<form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;">
				<button type="submit" class="btn btn-warning" ng-click="keep(meal)">Modifier</button>
			</form>
			<span type="submit" class="btn btn-danger" ng-click="delete(meal)">X</span>
		</div>
	</div>
</div>

<!-- =============================================================================
DRINK
================================================================================== -->

<div ng-show="number == 5" class="container principal">
	<div class="row meal" ng-repeat="meal in meals | filter: {categorie: 'drink'} | filter: search">
		<div class="ligne col-lg-4">
			<img class="img-circle" src="{{meal.avatar}}" style="height: 70%;" />
		</div>
		
		<div class="ligne col-lg-5" style="vertical-align: middle;">{{meal.name}}</div>
		<!-- <div class="ligne col-sm-4" style="vertical-align: middle;">{{meal.description}}</div> -->
		<div class="ligne col-md-3 row-button" style="vertical-align: middle;">
			<form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;">
				<button type="submit" class="btn btn-warning" ng-click="keep(meal)">Modifier</button>
			</form>
			<span type="submit" class="btn btn-danger" ng-click="delete(meal)">X</span>
		</div>
	</div>
</div>