
<h1>PLATS</h1>

<form class="recherche" type="get" action="#/addMeal">
	<input type="text" class="rechercheMeal form-control" ng-model="search" placeholder="Rechercher">
	<button type="submit" class="mealAddButton btn btn-danger">+</button>
</form>

<ul class="nav-meals nav nav-tabs">
	<li class="active"><a href="#">ENTREE</a></li>
	<li><a href="#/dish">PLAT</a></li>
	<li><a href="#/garnish">ACCOMPAGNEMENT</a></li>
	<li><a href="#/dessert">DESSERT</a></li>
	<li><a href="#/drink">BOISSON</a></li>
</ul>

<table class="table table-condensed">
	<tr>
		<th></th>
		<th>Nom</th>
		<th>Description</th>
		<th></th>

	</tr>

	<tr ng-repeat="meal in meals  | filter: {categorie: 'starter'}">
		<td><img src="{{meal.avatar}}" style="height: 100%;" /></td>
		<td style="vertical-align: middle;">{{meal.name}}</td>
		<td style="vertical-align: middle;">{{meal.description}}</td>
		<td style="vertical-align: middle;"><form class="btn-modifier" type="get" action="#/updateMeal" style="display: inline-block;"><button type="submit" class="btn btn-warning" ng-click="keep(meal)">Modifier</button></form><button type="submit" class="btn btn-danger" ng-click="delete(meal)">X</button></td>
	</tr>
</table>
