
/*
** color: orange(#ED771E) ou rgb(237, 119, 30);
** color: jaune(FED327) ou rgb(254, 211, 39);
**
**
*/


/*
* {
	color: black;
}
*/

a {
	color: grey;
}

hr {
	border-top: transparent;
}

.home{
	/*background:url("../img/ok4.jpg");*/
	filter: sep
	height: auto;
	padding: 0px;
	margin-top: -3px;
	margin-right: -169.444px;
	margin-left: -169.444px;

}
.moe-down{
	padding-top: 10px;

}
#Autocomplete{
	margin-top: 10px;

}
.container-fluid{
	padding: 0px;
	margin-top: -5px;
}
body{
	padding-top: 70px;
	background-image: url("../img/ok5.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	
}


body:before{
	position: absolute;
	content: "";
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	background-color: #4e5d6c;
	opacity: 0.6;
	z-index: -1;
	position: fixed;

}
.orange{
	color:#ED771E;
}
.btn_orange{
	background-color: #ED771E;
	color: white;
}
.btn_orange{
	background-color: #ED771E;
	color: white;
}

.ligne{
	height: 75px;
	vertical-align: middle;
	line-height: 75px;
	margin: 1% 0;
}
.navbar-border{
	border-bottom: 3px solid #ed771e;
}
.navbar-header img{
	transition: 0.4s;
	width: 120px;
	height: 50px;;
}
.navbar-header img:hover{
	transform: rotate(360deg);
}
.contMeal{
	margin: 0;
}
.table{
	width: 80%;
	margin: auto;
}

h1 {
	text-align: center;
	color: #fff;
}

/*=====================================
CSS PLATS
=======================================*/

.sub-title, .title{
	font-size: 450%;
	margin-top: 7%;
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 4px;
	font-family: 'cookie', sans-serif;
}

.sub-title{
	font-size: 200%;
}

hr{
	border-top: transparent;
}
.rechercheMeal{
	width: 50%;
	margin-bottom: 0;
}
.mealAddButton{
	width: 9%;
	height: 54px;
	margin-left: 41%;
	font-size: 185%;
}
.addMealInput{
	margin-bottom: 5%;
}
.nav-meals{
	background-color: rgba(0,0,0,0.1);
	position: fixed;
	top: 55%;
	left: 5%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: 2%;
	width: 15%;
	height: 250px;
	padding: 2.8% 3.5%;
	border-radius: 5%;
	border: 2px solid rgb(237, 119, 30);
}
.nav-meals>div{
	width: 100%;
	color: white;
	font-size: 150%;
	font-weight: bold;
	margin: 2% 0;
}
.nav-meals>div:hover{
	color: #ED771E;
}
.sous-nav-meals{
	padding-bottom: 2%;
	color: white;
	font-size: 150%;
}
.principal{
	width: 80%;
	padding: 0;
	margin: 0;
	float: right;
}
.ligne{
	height: 100px;
	vertical-align: middle;
	line-height: 100px;
	color: white;
	font-size: 150%;
}
.loupe{
	width: 5%;
	padding: 1%;
	margin-left: 1%;
	color: #ED771E;
	font-size: 180%;
	margin-top: 2.7%;
	text-align: center;
}
.row-button{
	padding-left: 9%;
}
.radio{
	display: inline-block;
	margin: 2% 3% 5% 3%;
}
.meal{
	margin: 2% 0;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0 , 0, 0.19);
}


.btn_orange {
	background-color:#ed771e;
	border-color:#ed771e;
}

/*========ADD MEALS=========*/

.formulaire{
	background-color: rgba(0,0,0,0.3);
	border-radius: 57px;
	margin-top: 10%!important;
	margin-bottom: 10%!important;
	padding: 3% 7%;
	border: 5px solid rgb(237,119,30);
}
.formulaire input:focus, .formulaire textarea:focus{
	border-color: rgba(237, 119, 30, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(237, 119, 30, 0.6);
	outline: 0 none;
}
.btn-retour{
	position: fixed;
	top: 15%;
	left: 4.5%;
	text-align: center;
	width: 5%;
	height: 65px;
	color: #fFFFFF;
	font-weight: bold;
	background-color: transparent;
	border-radius: 200px;
	border: 3px solid #ED771E;
}
.btn-retour>p{
	position: absolute;
	display: inline-block;
	top: 29%;
	left: 7%;
	font-size: 119%;
	margin: auto;
	color: white;
}
.recup-photo{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 10%;	
}
.recup-photo>label{
	width: 100%;
	margin: 9% 0;
}
.parcourir{
	position: relative;
	margin: auto 12.5%;
	text-align: center;
	width: 25%;
	height: 40px;
	color: #fFFFFF;
	font-weight: bold;
	background-color: transparent;
	border-radius: 20px;
	border: 3px solid #ED771E;
}
.parcourir>p{
	position: absolute;
	display: inline-block;
	top: 15%;
	left: 9%;
	font-size: 119%;
	margin: auto;
}
.input-file{
	position: absolute;
	top: 11%;
	left: 1%;
	font-size: 123%;
	margin: auto;
	opacity: 0;
}
.preview{
	align-self: center;
	width: 30%;
	margin: 0 10%;
	border-radius: 1000px;
	border-color: white;
}
.formulaire label{
	color: #FFFFFF;
	margin-bottom: 5%;
	font-size: 150%;
}
.formulaire>input{
	margin-bottom: 15%;
}
.form-categorie{
	padding-left: 4%;
}
.radio>label{
	font-size: 130%;
}
.recette{
	vertical-align: text-top;
}
.form-allergie{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-align-items: baseline;
	align-items: baseline;
	padding-left: 7%;
}
.form-allergie .radio{
	width: 25%;
}
.btn-enregistrer{
	padding-bottom: 6%;
	margin-left: 30%;
	font-size: 200%;
	font-weight: bold;
	width: 40%;
}

/*=====================================
 FIN CSS PLATS
 =======================================*/






 .navbar-border{
 	border-bottom: 3px solid #ed771e;
 }
 .navbar-header img{
 	transition: 0.4s;
 	width: 120px;
 	height: 50px;;
 }
 .navbar-header img:hover{
 	transform: rotate(360deg);
 }
 .contMeal{
 	margin: 0;
 }
 .table{
 	width: 80%;
 	margin: auto;
 }
 .recherche{
 	display: flex;
 	width: 60%;
 	margin: 5% auto;
 	margin-bottom: 7%;
 }
 .btn-modifier{
 	margin: 0 5%;
 }
 .btn_orange {
 	background-color:#ed771e;
 	border-color:#ed771e;
 }
 .homee {
 	height: 400px;
  /*text-align: center;
  vertical-align: middle*/
  display: flex;
  justify-content:center;
  align-items: center;
  margin-bottom: -30px;
}

/* invites_liste */
.src-image {
	display: none;
}

.card {
	overflow: hidden;
	position: relative;
	border: 1px solid #CCC;
	border-radius: 8px;
	text-align: center;
	padding: 0;
	background-color: #284c79;
	color: rgb(136, 172, 217);
}

.card .header-bg {
	/* This stretches the canvas across the entire hero unit */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	border-bottom: 1px #FFF solid;
	/* This positions the canvas under the text */
	z-index: 1;
}
.card .avatar {
	position: relative;
	margin-top: 15px;
	z-index: 100;
}

.card .avatar img {
	width: 100px;
	height: 100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 5px solid rgba(0,0,30,0.8);
}
.pink{
	background-color: pink;
}
.invites{
	margin-top: 100px;
}

/* fin invites_liste */

}

/* ***************************************************************************************************************************
				*** EVENTS CSS ***
********************************************************************************************************************************/
.h1TitleWhite {
	color: white;
	font-family: 'Cookie', cursive;
	font-weight: bold;
	font-size: 5.5em;
	letter-spacing: 4px;
}
.h3TitleWhite {
	color: white;
	font-weight: bold;
	font-size: 2em;
}

.inDescr {
	width: 200px !important;
}

.eventSearch {
	width: 200px;
}

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");


.event-list {
	list-style: none;
	font-family: 'Lato', sans-serif;
	margin: 0px;
	padding: 0px;
}
.event-list > li {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px rgb(51, 51, 51);
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
	padding: 0px;
	margin: 0px 0px 20px;
}
.event-list > li > time {
	display: inline-block;
	width: 100%;
	color: rgb(255, 255, 255);
	background-color: #ed771e;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
	background-color: rgb(254, 211, 39);
}
.event-list > li > time > span {
	display: none;
}
.event-list > li > time > .day {
	display: block;
	font-size: 56pt;
	font-weight: 100;
	line-height: 1;
}
.event-list > li time > .month {
	display: block;
	font-size: 24pt;
	font-weight: 900;
	line-height: 1;
}
.event-list > li > img {
	width: 100%;
}
.event-list > li > .info {
	padding-top: 5px;
	text-align: center;
}
.event-list > li > .info > .title {
	font-size: 17pt;
	font-weight: 700;
	margin: 0px;
}
.event-list > li > .info > .desc {
	font-size: 12pt;
	font-weight: 300;
	margin: 0px;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
	display: table;
	list-style: none;
	margin: 10px 0px 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
}
.event-list > li > .social > ul {
	margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
	display: table-cell;
	cursor: pointer;
	color: rgb(30, 30, 30);
	font-size: 11pt;
	font-weight: 300;
	padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
	display: block;
	width: 100%;
	color: rgb(30, 30, 30);
	text-decoration: none;
}
.event-list > li > .social > ul > li {
	padding: 0px;
}
.event-list > li > .social > ul > li > a {
	padding: 3px 0px;
}
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
	color: rgb(30, 30, 30);
	background-color: rgb(200, 200, 200);
}

@media (min-width: 768px) {

    @import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
    @import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
    
    
    .event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}


		@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
		@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
		body {
			padding: 60px 0px;
			background-color: rgb(220, 220, 220);
		}


		.event-list {
			list-style: none;
			font-family: 'Lato', sans-serif;
			margin: 0px;
			padding: 0px;
		}

		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 120px;
			padding: 0px;
		}
		.event-list > li > time,
		.event-list > li > img  {
			display: inline-block;


	}
	.event-list > li:nth-child(even) > time {
		background-color: rgb(254, 211, 39);
	}
	.event-list > li > time > span {
		display: none;
	}
	.event-list > li > time > .day {
		display: block;
		font-size: 50pt;
		font-weight: 100;
		line-height: 1;
	}
	.event-list > li > time > .month {
		display: block;
		font-size: 20pt;
		font-weight: 900;
		line-height: 1;
	}
	.event-list > li > time > .year {
		display: block;
		font-size: 18px;
		font-weight: 400;
		line-height: 1;
	}

	.event-list > li > img {
		width: 120px;
		float: left;
	}
	.event-list > li > .info {
		background-color: rgb(245, 245, 245);
		overflow: hidden;
	}
	.event-list > li > time,
	.event-list > li > img {
		width: 120px;
		height: 120px;
		padding: 0px;
		margin: 0px;
	}
	.event-list > li > .info {
		position: relative;
		height: 120px;
		text-align: left;
		padding-right: 40px;
	}
	.event-list > li > .info > .title,
	.event-list > li > .info > .desc {
		padding: 0px 10px;
	}
	.event-list > li > .info > ul {
		position: absolute;
		left: 0px;
		bottom: 0px;
	}
	
	

@media (min-width: 768px) {
	.event-list > li {
		position: relative;
		display: block;
		width: 650px;
		height: 120px;
		padding: 0px;
	}
	.event-list > li > time,
	.event-list > li > img  {
		display: inline-block;
	}
	.event-list > li > time,
	.event-list > li > img {
		width: 120px;
		float: left;
	}
	.event-list > li > .info {
		background-color: rgb(245, 245, 245);
		overflow: hidden;
	}
	.event-list > li > time,
	.event-list > li > img {
		width: 120px;
		height: 120px;
		padding: 0px;
		margin: 0px;
	}
	.event-list > li > .info {
		position: relative;
		height: 120px;
		text-align: left;
		padding-right: 40px;
	}	
	.event-list > li > .info > .title, 
	.event-list > li > .info > .desc {
		padding: 0px 10px;
	}
	.event-list > li > .info > ul {
		position: absolute;
		left: 0px;
		bottom: 0px;
	}
.desc {

}


/* icon horloge */
.timeEvent {
		margin-left: 10px;
		margin-right: 25px;
		position: relative;
		bottom: 75px;
	}

.containerEvents1 {
	border: 4px solid #ED771E;
	border-radius: 10px;
	padding: 20px;
	width: 250px;
	display: inline-block;
}
.containerListEvents {
	display: inline-block;
}

.labelBlanc {
	color: #fff;
}

		
.event-list > li > time{

	width: 100%;
	color: rgb(255, 255, 255);
	background-color: #ed771e;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
	background-color: rgb(254, 211, 39);
}
.event-list > li > time > span {
	display: none;
}
.event-list > li > time > .day {
	display: block;
	font-size: 50pt;
	font-weight: 100;
	line-height: 1;
}
.event-list > li > time > .month {
	display: block;
	font-size: 20pt;
	font-weight: 900;
	line-height: 1;
}
.event-list > li > time > .year {
	display: block;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
}

.event-list > li > img {
	width: 120px;
	float: left;
}
.event-list > li > .info {
	background-color: rgb(245, 245, 245);
	overflow: hidden;
}
.event-list > li > time,
.event-list > li > img {
	width: 120px;
	height: 120px;
	padding: 0px;
	margin: 0px;
}
.event-list > li > .info {
	position: relative;
	height: 120px;
	text-align: left;
	padding-right: 40px;
}
.event-list > li > .info > .title,
.event-list > li > .info > .desc {
	padding: 0px 10px;
}
.event-list > li > .info > ul {
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.event-list > li > .social {
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	width: 40px;
}
.event-list > li > .social > ul {
	border-left: 1px solid rgb(230, 230, 230);
}
.event-list > li > .social > ul > li {
	display: block;

	padding: 0px;
}
.event-list > li > .social > ul > li > a {
	display: block;
	width: 40px;
	padding: 10px 0px 9px;
}
	
.event-list > li > .social > ul > li {    
	padding: 0px;
}
.event-list > li > .social > ul > li > a {
	padding: 3px 0px;
} 
	/*.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}
	*/
	.timeEvent {
		margin-left: 10px;
	}

@media (min-width: 768px) {
.event-list > li {
	position: relative;
	display: block;
	width: 100%;
	height: 120px;
	padding: 0px;
}
.event-list > li > time,
.event-list > li > img  {
	display: inline-block;
}
.event-list > li > time,
.event-list > li > img {
	width: 120px;
	float: left;
}
.event-list > li > .info {
	background-color: rgb(245, 245, 245);
	overflow: hidden;
}
.event-list > li > time,
.event-list > li > img {
	width: 120px;
	height: 120px;
	padding: 0px;
	margin: 0px;
}
.event-list > li > .info {
	position: relative;
	height: 120px;
	text-align: left;
	padding-right: 40px;
}	
.event-list > li > .info > .title, 
.event-list > li > .info > .desc {
	padding: 0px 10px;
}
.event-list > li > .info > ul {
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.event-list > li > .social {
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	width: 40px;
}
.event-list > li > .social > ul {
	border-left: 1px solid rgb(230, 230, 230);
}
.event-list > li > .social > ul > li {			
	display: block;
	padding: 0px;
}
.event-list > li > .social > ul > li > a {
	display: block;
	width: 40px;
	padding: 10px 0px 9px;
}
	

.form-groupDescription {
	display: inline-block;
}
.form-groupLieu {
	display: inline-block;	
}
#inputLieu {
	width: 300px;
}


.btn-event-green {
	color: #fff;
	margin-top: 20px;
}


/**
* champs du formulaire evenement 
**/
#inputNom {
	width: 200px;
}
#inputLieu {
	width: 200px;
}
#inputAnnee {
	width: 200px;
	margin-top: 5px;
}
#inputJour {
	width: 90px;
	margin-right: 16px;
}
#inputMois {
	width: 90px;
}
#inputHeure {
	width: 90px;
	margin-right: 16px;
}
#minute {
	width: 90px;
}

.form-groupJour {
	display: inline-block;
}
.form-groupMois {
	display: inline-block;
}
.form-groupHeure {
	display: inline-block;
}
.form-groupMinute {
	display: inline-block;
}

#collapseExample {
	width: 500px;
	background-color: red;
}
.form-inline .form-group { margin-right:10px; }
.well-primary {
color: rgb(255, 255, 255);
background-color: rgb(66, 139, 202);
border-color: rgb(53, 126, 189);
}
.glyphicon { margin-right:5px; }


.list-group-itemUpdate {
	height: 200px;
}

	#inputNom {
		width: 500px;
	}
	.form-groupNom {
		text-align: center;
	}
	.form-groupJour {
		width: 100px;
		display: inline-block;
	}
	.form-groupMois {
		width: 100px;
		display: inline-block;
	}
	.form-groupAnnee {
		width: 100px;
		display: inline-block;
	}
	.form-groupHeure {
		width: 100px;
		display: inline-block;
	}
	.form-groupMinute {
		display: inline-block;
		width: 100px;
	}

	.containerDate {
		text-align: center;
	}

	.containerTime {
		margin-left: auto;
		margin-right: auto;
	}


.h4titleOrange {
	color: #ed771e;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	
}
/* END / EVENTS CSS *********************************************************************************************************
**********************************************************************************************************************/
