
/*
** color: orange(#ED771E) ou rgb(237, 119, 30);
** color: jaune(FED327) ou rgb(254, 211, 39);
**
**
*/

a{
	color: grey;
}
hr{
	border-top: transparent;
}
.home{
	/*background:url("../img/ok4.jpg");*/
	filter: sep
	height: auto;
	padding: 0px;
	margin-top: -3px;
	margin-right: -169.444px;
	margin-left: -169.444px;

}
.moe-down{
	padding-top: 10px;

}
#Autocomplete{
	margin-top: 10px;

}
.container-fluid{
	padding: 0px;
	margin-top: -5px;
}
body{
	padding-top: 70px;
	background-image: url("../img/ok5.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	height: 100vh;
}


body:before{
	position: absolute;
	content: "";
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	background-color: #4e5d6c;
	opacity: 0.6;
	z-index: -1;
	position: fixed;

}

.orange{
	color:#ED771E;
}
.btn_orange{
	background-color: #ED771E;
	color: white;
}
.btn_orange{
	background-color: #ED771E;
	color: white;
}
.row>div, .ligne{
	height: 75px;
	vertical-align: middle;
	line-height: 75px;
}
.col-lg-offset-1{
	margin: 0;
}
.navbar-border{
	border-bottom: 3px solid #ed771e;
}
.navbar-header img{
	transition: 0.4s;
	width: 120px;
	height: 50px;;
}
.navbar-header img:hover{
	transform: rotate(360deg);
}
.contMeal{
	margin: 0;
}
.table{
	width: 80%;
	margin: auto;
}
h1{
	text-align: center;
}
.recherche{
	display: flex;
	width: 60%;
	margin: 5% auto;
	margin-bottom: 7%;
}
.mealAddButton{
	width: 7%;
	margin-left: 50%;
}
.rechercheMeal{
	width: 50%;
	margin-bottom: 0;
}
.nav-meals{
	margin: 8% 0;
	color: #000000;
}
.addMealInput{
	margin-bottom: 5%;
}
.radio{
	display: inline-block;
	margin: 2% 3% 5% 3%;
}
.btn-modifier{
	margin: 0 5%;
}



}
.btn_orange {
	background-color:#ed771e;
	border-color:#ed771e;
}
.btn_orange:hover {
	background-color:#ed771e;
	border-color:#ed771e;
}
.btn-info:hover {
  background-color:#ed771e;
  border-color:#ed771e;
}



.homee {
	height: 400px;
  /*text-align: center;
  vertical-align: middle*/
  display: flex;
  justify-content:center;
  align-items: center;
  margin-bottom: -30px;
}

/* invites_liste */
.src-image {
	display: none;
}

.card {
	overflow: hidden;
	position: relative;
	border: 1px solid #CCC;
	border-radius: 8px;
	text-align: center;
	padding: 0;
	background-color: #284c79;
	color: rgb(136, 172, 217);
}

.card .header-bg {
	/* This stretches the canvas across the entire hero unit */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	border-bottom: 1px #FFF solid;
	/* This positions the canvas under the text */
	z-index: 1;
}
.card .avatar {
	position: relative;
	margin-top: 15px;
	z-index: 100;
}

.card .avatar img {
	width: 100px;
	height: 100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 5px solid rgba(0,0,30,0.8);
}
.pink{
	background-color: pink;
}
.invites{
	margin-top: 100px;
}

/* fin invites_liste */

}


.inDescr {
	width: 200px !important;
}

.eventSearch {
	width: 200px;
}

/*=========================================================================================================*/

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
body {
	padding: 60px 0px;
}

.event-list {
	list-style: none;
	font-family: 'Lato', sans-serif;
	margin: 0px;
	padding: 0px;
}
.event-list > li {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px rgb(51, 51, 51);
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
	padding: 0px;
	margin: 0px 0px 20px;
}
.event-list > li > time {
	display: inline-block;
	width: 100%;
	color: rgb(255, 255, 255);
	background-color: #ed771e;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
	background-color: rgb(254, 211, 39);
}
.event-list > li > time > span {
	display: none;
}
.event-list > li > time > .day {
	display: block;
	font-size: 56pt;
	font-weight: 100;
	line-height: 1;
}
.event-list > li time > .month {
	display: block;
	font-size: 24pt;
	font-weight: 900;
	line-height: 1;
}
.event-list > li > img {
	width: 100%;
}
.event-list > li > .info {
	padding-top: 5px;
	text-align: center;
}
.event-list > li > .info > .title {
	font-size: 17pt;
	font-weight: 700;
	margin: 0px;
}
.event-list > li > .info > .desc {
	font-size: 13pt;
	font-weight: 300;
	margin: 0px;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
	display: table;
	list-style: none;
	margin: 10px 0px 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
}
.event-list > li > .social > ul {
	margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
	display: table-cell;
	cursor: pointer;
	color: rgb(30, 30, 30);
	font-size: 11pt;
	font-weight: 300;
	padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
	display: block;
	width: 100%;
	color: rgb(30, 30, 30);
	text-decoration: none;
}
.event-list > li > .social > ul > li {
	padding: 0px;
}
.event-list > li > .social > ul > li > a {
	padding: 3px 0px;
}
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
	color: rgb(30, 30, 30);
	background-color: rgb(200, 200, 200);
}


@media (min-width: 768px) {
	.event-list > li {
		position: relative;
		display: block;
		width: 100%;
		height: 120px;
		padding: 0px;
	}
	.event-list > li > time,
	.event-list > li > img  {
		display: inline-block;
	}
	.event-list > li > time,
	.event-list > li > img {
		width: 120px;
		float: left;
	}
	.event-list > li > .info {
		background-color: rgb(245, 245, 245);
		overflow: hidden;
	}
	.event-list > li > time,
	.event-list > li > img {
		width: 120px;
		height: 120px;
		padding: 0px;
		margin: 0px;
	}
	.event-list > li > .info {
		position: relative;
		height: 120px;
		text-align: left;
		padding-right: 40px;
	}
	.event-list > li > .info > .title,
	.event-list > li > .info > .desc {
		padding: 0px 10px;
	}
	.event-list > li > .info > ul {
		position: absolute;
		left: 0px;
		bottom: 0px;
	}
	.event-list > li > .social {
		position: absolute;
		top: 0px;
		right: 0px;
		display: block;
		width: 40px;
	}
	.event-list > li > .social > ul {
		border-left: 1px solid rgb(230, 230, 230);
	}
	.event-list > li > .social > ul > li {
		display: block;
		padding: 0px;
	}
	.event-list > li > .social > ul > li > a {
		display: block;
		width: 40px;
		padding: 10px 0px 9px;
	}
}
